<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>other-portal</title>
</head>
<body>
    <div>
        <ul th:each="token:${tokens}">
            <li><button onclick="chooseUser(event)" th:text="${token.id}" th:value="${token.id}"></button></li>
        </ul>
    </div>
</body>
</html>

<script type="text/javascript">
    function chooseUser(event) {
        var url = window.location.href + "choose-user/" + event.currentTarget.value;
        chooseUserAndGoCaas(url);
    }

    function chooseUserAndGoCaas(url) {
        console.log(url);
        var httpRequest = new XMLHttpRequest();
        httpRequest.open("GET", url, true);
        httpRequest.send();
        httpRequest.onreadystatechange = function() {
            if (httpRequest.status == 200) {
                window.location.href = window.location.href + "proxy/";
            } else {
                alert("选择用户失败.");
            }
        }
    }
</script>