<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>other-portal</title>
</head>
<body>
    <div>
        <input id="targetUrl" type="text" placeholder="caas-web 的地址，例如 https://localhost:8081" style="width: 400px;">
        <ul th:each="token:${tokens}">
            <li><button class="chooseUserBtn" th:text="${token.id}" th:value="${token.id}"></button></li>
        </ul>
    </div>
</body>
</html>

<script src="jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        var targetUrl = window.localStorage.targetUrl;
        if (targetUrl != null || targetUrl != undefined || targetUrl != "") {
            $("#targetUrl").val(window.localStorage.targetUrl);
        }
    });

    $(".chooseUserBtn").click(function() {
        if ($("#targetUrl").val() == null || $("#targetUrl").val() == "") {
            alert("请输入 caas-web 的地址！");
            return;
        }
        window.localStorage.targetUrl = $("#targetUrl").val();
        var url = $(location).attr("href") + "choose-user/" + $(this).val();

        $.ajax({
            url: url,
            type: 'POST',
            data: JSON.stringify({
                targetUrl: $("#targetUrl").val()
            }),
            complete: function() {
                $(location).attr("href", $(location).attr("href") + "proxy/");
            },
            dataType: "json",
            contentType: "application/json"
        })
    });
</script>